{% extends 'musics/layout.html' %}
{% block title %}Musics - {{album.title}}{% endblock %}
{% block content %}
<nav>
    <div class="nav-wrapper" style="margin-left: 16px;">
        <div class="col">
            <a href="/" class="breadcrumb"><i class="material-icons">home</i></a>
            <span class="breadcrumb">앨범 상세</span>
        </div>
    </div>
</nav>
<div class="card red lighten-2">
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="{{album.cover.url}}">
                    <a class="disabled btn-floating halfway-fab waves-effect waves-light red hoverable"><i class="material-icons">favorite_border</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title red-text">{{album.title}}</span>
                    <table class="bordered centered">
                        <colgroup>
                            <col width="25%">
                            <col width="75%">
                        </colgroup>
                        <tr>
                            <th>뮤지션</th>
                            <td><a href="{% url 'musics:mdetail' album.musician %}">{{album.musician}}</a></td>
                        </tr>
                        <tr>
                            <th>발매일</th>
                            <td>{{album.release_at|date:'Y-m-d'}}</td>
                        </tr>
                        <tr>
                            <th>장르</th>
                            <td>{{album.genre}}</td>
                        </tr>
                        <tr>
                            <th>배급사</th>
                            <td>{{album.distribution}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s12 m8">
            <div class="card">
                <div class="card-content">
                    <span class="card-title red-text">총 {{songs|length}}곡</span>
                    <table class="bordered">
                        <colgroup>
                            <col width="10%">
                            <col width="55%">
                            <col width="35%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>곡명</th>
                                <th>뮤지션</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in songs %}
                            <tr>
                                <td>{{song.order}}</td>
                                <td>{{song.title}}</td>
                                <td>{{song.musician}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <a href="#" class="red white-text btn disabled"><i class="material-icons left">play_circle_outline</i> 미리 듣기</a>
                    <a href="#" class="red white-text btn disabled"><i class="material-icons left">file_download</i> 음원 구매하기</a>
                    <a href="#" class="red white-text btn disabled"><i class="material-icons left">card_giftcard</i> 선물하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <span class="card-title red-text">앨범 소개</span>
        {{album.introduction|linebreaks}}
    </div>
</div>
<div class="card">
    <div class="card-content">
        <span class="card-title red-text">앨범 한마디</span>
        {% if not user.is_authenticated %}
        <ul class="collection">
            <li class="collection-item center-align">댓글을 작성하려면 <a href="{% url 'accounts:login' %}?next={{request.path}}">로그인</a>해주세요.</li>
        </ul>
        {% else %}
        <form action="{% url 'musics:save_comment' album.pk %}" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <p class="right-align"><button type="submit" class="waves-effect waves-light btn red lighten-2">댓글 올리기</button></p>
        </form>
        {% endif %}
        <ul class="collection">
        {% if comments %}
            {% for comment in album.comment_set.all %}
            <li class="collection-item">{{comment.message}}
                <small>by {{comment.user}} at {{comment.created_at}}</small>
            </li>
            {% endfor %}
        {% else %}
            <li class="collection-item center-align">댓글이 하나도 없습니다.</li>
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}