{% extends 'accounts/layout.html' %}
{% block content %}
<nav>
    <div class="nav-wrapper" style="margin-left: 16px;">
        <div class="col">
            <a href="/" class="breadcrumb"><i class="material-icons">home</i></a>
            <span class="breadcrumb">로그인</span>
        </div>
    </div>
</nav>
<div class="card">
    <div class="card-content">
        <span class="card-title red-text">로그인</span>
        <form method="post">
            {% csrf_token %}
            <table style="margin-bottom: 8px;">
                {{form.as_table}}
            </table>
            <button type="submit" class="btn">확인</button>
        </form>
    </div>
</div>
{% endblock %}