<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/minty/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="{% url 'musics:list' %}" class="brand-logo right">Musics</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        {% if not user.is_authenticated %}
                        <li><a href="{% url 'accounts:login' %}?next={{request.path}}">로그인</a></li>
                        <li><a href="{% url 'accounts:signup' %}">회원가입</a></li>
                        {% else %}
                        <li><a href="{% url 'accounts:profile' %}">마이페이지</a></li>
                        <li><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
                        {% endif %}
                    </ul>
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </div>
        <ul id="slide-out" class="sidenav">
            {% if user.is_authenticated %}
            <li>
                <div class="user-view red lighten-2">
                    <span class="white-text name">{{user.username}}</span>
                    <span class="white-text email">{{user.email}}</span>
                </div>
            </li>
            {% endif %}
            {% if not user.is_authenticated %}
            <li><a class="waves-effect" href="{% url 'accounts:login' %}?next={{request.path}}">로그인</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="{% url 'accounts:signup' %}">회원가입</a></li>
            {% else %}
            <li><a class="waves-effect" href="{% url 'accounts:profile' %}">마이페이지</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="{% url 'accounts:logout' %}?next={{request.path}}">로그아웃</a></li>
            {% endif %}
        </ul>
        <div class="container" style="margin-top: 8px;">
            {% block content %}
            {% endblock %}
        </div>
        <div class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5 class="white-text">Musics</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">이용약관</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">개인정보 처리방침</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">고객센터</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    &copy; 2018 Musics All rights reserved.
                </div>
            </div>
        </div>
        <script type="text/javascript">
            M.AutoInit();
            $('.carousel').carousel({
                dist : -20
            });
        </script>
    </body>
</html>